In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"D:\SEM 4\DCAI (OE)\DCAI PBL\diabetes dataset pbl.csv")

In [3]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
df.isna()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [6]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
# 1. Calculate Mean, Median, and Mode
mean_values = df.mean(numeric_only=True)
median_values= df.median(numeric_only=True)
mode_values= df.mode(numeric_only=True).iloc[0]

In [8]:
print("\nMode Values:\n", mode_values)

Mode Values:
 Pregnancies                  1.000
Glucose                     99.000
BloodPressure               70.000
SkinThickness                0.000
Insulin                      0.000
BMI                         32.000
DiabetesPedigreeFunction     0.254
Age                         22.000
Outcome                      0.000
Name: 0, dtype: float64

In [9]:
print("\nMean Values:\n", mean_values)

Mean Values:
 Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [10]:
print("\nMedian Values:\n", median_values)

Median Values:
 Pregnancies                   3.0000
Glucose                     117.0000
BloodPressure                72.0000
SkinThickness                23.0000
Insulin                      30.5000
BMI                          32.0000
DiabetesPedigreeFunction      0.3725
Age                          29.0000
Outcome                       0.0000
dtype: float64

In [11]:
#2.Adding new row
newrow = {
    'Pregnancies': 2,
    'Glucose': 120,
    'BloodPressure': 70,
    'SkinThickness': 20,
    'Insulin': 80,
    'BMI': 25.3,
    'DiabetesPedigreeFunction': 0.5,
    'Age': 29,
    'Outcome': 0
}
df = pd.concat([df, pd.DataFrame([newrow])], ignore_index=True)
print(newrow)

{'Pregnancies': 2, 'Glucose': 120, 'BloodPressure': 70, 'SkinThickness': 20, 'Insulin': 80, 'BMI': 25.3, 'DiabetesPedigreeFunction': 0.5, 'Age': 29, 'Outcome': 0}

In [12]:
#3. Adding new column
df['RiskLevel'] = df['Glucose'].apply(lambda x: 'High' if x > 125 else 'Low')

In [13]:
# 4. Remove a row 
df = df.drop(index=0).reset_index(drop=True)

In [14]:
# 5. Remove a column 
df = df.drop(columns=['SkinThickness'])

In [15]:
# 6. Fill zero values in 'Insulin' and 'BMI' with their respective mean
df['Insulin'] = df['Insulin'].replace(0, df['Insulin'].mean())
df['BMI'] = df['BMI'].replace(0, df['BMI'].mean())

In [16]:
df.head(), mean_values, median_values, mode_values

(   Pregnancies  Glucose  BloodPressure     Insulin   BMI  \
 0            1       85             66   79.903646  26.6
 1            8      183             64   79.903646  23.3
 2            1       89             66   94.000000  28.1
 3            0      137             40  168.000000  43.1
 4            5      116             74   79.903646  25.6

    DiabetesPedigreeFunction  Age  Outcome RiskLevel
 0                     0.351   31        0       Low
 1                     0.672   32        1      High
 2                     0.167   21        0       Low
 3                     2.288   33        1      High
 4                     0.201   30        0       Low  ,
 Pregnancies                   3.845052
 Glucose                     120.894531
 BloodPressure                69.105469
 SkinThickness                20.536458
 Insulin                      79.799479
 BMI                          31.992578
 DiabetesPedigreeFunction      0.471876
 Age                          33.240885
 Outcome                       0.348958
 dtype: float64,
 Pregnancies                   3.0000
 Glucose                     117.0000
 BloodPressure                72.0000
 SkinThickness                23.0000
 Insulin                      30.5000
 BMI                          32.0000
 DiabetesPedigreeFunction      0.3725
 Age                          29.0000
 Outcome                       0.0000
 dtype: float64,
 Pregnancies                  1.000
 Glucose                     99.000
 BloodPressure               70.000
 SkinThickness                0.000
 Insulin                      0.000
 BMI                         32.000
 DiabetesPedigreeFunction     0.254
 Age                         22.000
 Outcome                      0.000
 Name: 0, dtype: float64)

In [17]:
# Rename specific columns
df = df.rename(columns={'Age': 'Patient_Age', 'BMI': 'Body_Mass_Index'})

In [18]:
# Sort by a single column
df = df.sort_values(by='Patient_Age')

# Sort by multiple columns
df = df.sort_values(by=['Patient_Age', 'Body_Mass_Index'], ascending=[True, False])

In [19]:
# Filter Rows (Conditional Selection)
# Select all rows where BMI > 30
high_bmi = df[df['Body_Mass_Index'] > 30]

# Patients older than 50 with diabetes
older_diabetic = df[(df['Patient_Age'] > 50) & (df['Outcome'] == 1)]

In [20]:
# Create a new column 'Risk' based on BMI
df['Risk'] = ['High' if x > 30 else 'Normal' for x in df['Body_Mass_Index']]

In [21]:
# Reset the index after deleting rows
df = df.reset_index(drop=True)

In [22]:
# Find and remove duplicate rows
duplicates = df[df.duplicated()]
df = df.drop_duplicates()

In [23]:
# --- Finally Print the Updated Data ---
print(df)

     Pregnancies  Glucose  BloodPressure     Insulin  Body_Mass_Index  \
0              0       94             70  115.000000        43.500000
1              2      118             80   79.903646        42.900000
2              3       90             78   79.903646        42.700000
3              0      151             90   79.903646        42.100000
4              1      139             62  480.000000        40.700000
..           ...      ...            ...         ...              ...
763            5      136             82   79.903646        31.981771
764            5      132             80   79.903646        26.800000
765            4      145             82   79.903646        32.500000
766            2      119              0   79.903646        19.600000
767            9      134             74   60.000000        25.900000

     DiabetesPedigreeFunction  Patient_Age  Outcome RiskLevel    Risk
0                       0.347           21        0       Low    High
1                       0.693           21        1       Low    High
2                       0.559           21        0       Low    High
3                       0.371           21        1      High    High
4                       0.536           21        0      High    High
..                        ...          ...      ...       ...     ...
763                     0.640           69        0      High    High
764                     0.186           69        0      High  Normal
765                     0.235           70        1      High    High
766                     0.832           72        0       Low  Normal
767                     0.460           81        0      High  Normal

[768 rows x 10 columns]

In [24]:
df.to_csv("diabetes_dataset_updated.csv", index=False)